<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @purchase_detail.cantidad %>
</p>

<p>
  <strong>Tomate:</strong>
  <%= @purchase_detail.tomate %>
</p>

<p>
  <strong>Lechuga:</strong>
  <%= @purchase_detail.lechuga %>
</p>

<p>
  <strong>Cebolla:</strong>
  <%= @purchase_detail.cebolla %>
</p>

<p>
  <strong>Mostaza:</strong>
  <%= @purchase_detail.mostaza %>
</p>

<p>
  <strong>Ketchup:</strong>
  <%= @purchase_detail.ketchup %>
</p>

<p>
  <strong>Mayonesa:</strong>
  <%= @purchase_detail.mayonesa %>
</p>

<p>
  <strong>Pepinillos:</strong>
  <%= @purchase_detail.pepinillos %>
</p>

<p>
  <strong>Zanahoria:</strong>
  <%= @purchase_detail.zanahoria %>
</p>

<p>
  <strong>Col:</strong>
  <%= @purchase_detail.col %>
</p>

<p>
  <strong>Pepino:</strong>
  <%= @purchase_detail.pepino %>
</p>

<p>
  <strong>Aguacate:</strong>
  <%= @purchase_detail.aguacate %>
</p>

<p>
  <strong>Limon:</strong>
  <%= @purchase_detail.limon %>
</p>

<p>
  <strong>Pechuga:</strong>
  <%= @purchase_detail.pechuga %>
</p>

<p>
  <strong>Queso:</strong>
  <%= @purchase_detail.queso %>
</p>

<p>
  <strong>Aderezo:</strong>
  <%= @purchase_detail.aderezo %>
</p>

<%= link_to 'Edit', edit_purchase_detail_path(@purchase_detail) %> |
<%= link_to 'Back', purchase_details_path %>
