<div class="top-formulario row center-xs text-center">
  <div class="col-xs-6 col-md-6 col-md-offset-3">
<p>
  <strong>Nombre:</strong>
  <%= @product.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @product.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @product.precio %>
</p>

<div class="field">
	<%=image_tag @product.cover.url(:menu)%>
</div>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Volver', products_path %>
</div>
</div>